.card {
    box-shadow: 2px 2px 2px 2px #0000003f;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20%;
    /* height: 22rem; */
    /* overflow: hidden; */
    background-color: white;
}

.card > * {
    background: transparent;
}

.card__img {
    height: 14rem;
    width: 100%;
    /* background-size: cover; */
    background-position: center;
    /* background-color: white; */
    object-fit: cover;
}

.card__body {
    background: #ffffff;
    min-height: 11rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__info {
    /* padding: 0.5rem 1rem; */
    color: var(--colorOliveGreen);
    /* background-color: white; */
}

.card__info > * {
    margin-bottom: 0.5rem;
}

.card__price {
    text-align: right;
    font-weight: bold;
}

.card__buttons {
    text-align: center;
    margin: 1.5rem auto;
    overflow: unset;
}

.card__buttons .card__button {
    background: #FFDA1A;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    width: 10rem;
    margin: 1rem auto;
    padding: 0.8rem 1rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.card__footer {
    border-top: 1px solid;
    margin-top: 1rem;
}

.card__advertiser {
    height: 2.5rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}
