* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    background-color: var(--colorWhite)
}


:root {
    --colorOliveGreen: #698A2E;
    --colorYellow: #FFDA1A;
    --colorWhite: #F7F6F2;
    --colorGrey: #D7D4CC
        /* Font misses  */
}